:root {

    /* =========================
       Background
    ========================= */

    --bg: #041f1e;

    --surface: #0a2d2c;

    --card: #113a38;

    /* =========================
       Main Colors
    ========================= */

    --primary: #0d9488;

    --secondary: #115e59;

    --accent: #2dd4bf;

    /* =========================
       Text
    ========================= */

    --text: #f0fdfa;

    --text-secondary: #99f6e4;

    /* =========================
       Glass
    ========================= */

    --glass: rgba(10, 45, 44, .60);

    --glass-border: rgba(45, 212, 191, .15);

    /* =========================
       Gradient
    ========================= */

    --gradient1: #041f1e;

    --gradient2: #0a2d2c;

    --gradient3: #115e59;

    --gradient4: #0d9488;

    /* =========================
       Blob
    ========================= */

    --blob1: #0f766e;

    --blob2: #2dd4bf;

    /* =========================
       Shadow
    ========================= */

    --shadow: rgba(0, 0, 0, .45);

}
